body {
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar-container {
  margin: 5% 0;
  padding: 5% 0;
  text-align: center;
  border: 2px solid green;
}

a {
  text-decoration: none;
}

.nav-items {
  margin: 0 5%;
}

/* main container and clock */

#main-container {
  width: 25%;
  height: 25%;
  text-align: center;
  margin: 15% 40%;
}

#clock-container {
  display: flex;
  width: 100%;
}

#right-side__container {
  height: 10%;
  width: 25%;
  margin: auto 0;
}

#clock {
  font-size: 3.5rem;
}

#clock-seconds,
#day_night {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

/* footer */

footer {
  border: 2px solid red;
}
